<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>叫我好棒棒計分板</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.4.0-dist/css/bootstrap.css">
    <link rel="shorcut icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/fontawesome-free-5.7.1-web/css/all.css"> <!--load all styles -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/<%= cssPath %>">
    <script type="text/javascript" src="/javascript/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/bootstrap-3.4.0-dist/js/bootstrap.js"></script>
    
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/landpage.css"> -->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> <i class="far fa-thumbs-up"></i> 叫我好棒棒</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><i class="fas fa-home"></i> 首頁</a></li>
                    <li><a href="/dashboard"><i class="fas fa-clipboard"></i> 排行榜</a></li>
                    <li><a href="/playerList"><i class="fas fa-list"></i> 玩家列表</a></li>
                </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <% if(!admin){ %>
                        <li><a href="/login">關主登入<i class="fa fa-user"></i></a></li>
                    <% }else{ %>
                        <li><a href="/logout">關主登出<i class="fas fa-sign-out-alt"></i></a></li>
                    <% } %>
                    
                </ul>
            </div>
        </div>
    </nav>
