<% include partials/header %>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><i class="fas fa-users"></i> 玩家姓名</th>
                        <th><i class="fas fa-chalkboard-teacher"></i> 專業分數</th>
                        <th><i class="fab fa-facebook-square"></i> 人脈分數</th>
                        <th><i class="fas fa-money-bill-alt"></i> 金錢分數</th>
                        <th><i class="fas fa-heart"></i> 愛情指數</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>林子雋</td>
                        <td>35</td>
                        <td>74</td>
                        <td>73</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>黃仁愉</td>
                        <td>83495</td>
                        <td>7293</td>
                        <td>382</td>
                        <td>238</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
<% include partials/footer %>