<% include partials/header %>
<div class="container">
    <div class="row">
        <div id="content">
            <div class="col-lg-12">
                <h1>夢想心樂園</h1>
                <h3>歡迎來到夢想心樂園，本樂園園長祝您遊玩愉快</h3>
                <hr>
                <button type="button" class="btn btn-default btn-lg"><i class="fas fa-search"></i> 查看排行榜 </button>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>
