body {
    padding-top: 70px;
}

#tableCenter{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#subTable{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    width: 50%; 
    margin: auto;
}

#subTableCanvas {
    width: 110%;
    margin: auto;
}
