body {
    padding-top: 70px;
}

#tableCenter{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
/* https://stackoverflow.com/questions/36873753/make-table-auto-scroll-vertically-via-html-css */
#animationTable{
    max-width: 50%;
    /* height: 50%; */
    /* overflow-y: auto; */
    margin-left: auto;
    margin-right: auto;
}


#subTable{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#canvas {
    width: 75%;
    margin: auto;
}

#subTableCanvas {
    width: 75%;
    margin: auto;
}
