body {
    padding-top: 70px;
    background-image: url("/images/landpage.jpg");
    background-size: cover;
    background-position: center;
    color: black;
}

html{
    height: 100%;
}
#content {
    text-align: center;
    padding-top: 10%;
    text-shadow: 0px 1px 2px white;
}

h1{
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-width: 90%;
}
