body {
    padding-top: 70px;
    /* As https://expressjs.com/en/starter/static-files.html instruct */
    /* https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjwmOf3gJvjAhURO7wKHXQNBA4QjRx6BAgBEAU&url=https%3A%2F%2Fwww.trendingus.com%2F2016%2F06%2F25%2Fnot-strive-for-success%2F&psig=AOvVaw0cqLyeBwurFOfkpcHliB5k&ust=1562320873410893 */
    background-image: url("/images/landpage2-opt.jpg"); 
    /*https://gist.github.com/yang-wei/9114967 */
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background-size: cover;
    background-position: center 51px; /* 51px is the pixel of the nav bar */
    color: black;
    height: 100%;
    overflow: scroll;
}

html{
    height: 100%;
}
#content {
    text-align: center;
    padding-top: 10%;
    text-shadow: 0px 1px 2px white;
}

h1{
    font-weight: 700;
    font-size: 4em;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-width: 90%;
}
